
certifi==2020.6.20
chardet==3.0.4

dj-database-url==0.5.0
Django==5.1.2
django-ckeditor-5==0.2.13
django-debug-toolbar==4.4.6
django-embed-video==1.4.10
django-heroku==0.3.1
django-js-asset==2.2.0
executing==2.1.0
gunicorn==20.0.4
idna==2.10

Pillow==7.2.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2020.1
pyzmq==26.2.0
requests==2.32.3
setuptools==75.1.0
six==1.16.0
soupsieve==2.6
sqlparse==0.3.1
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
whitenoise==5.2.0
