
{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<!-- Page Header Start -->
<div class="page-header" style="background: url('img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">
            {% if ads_detail.author.preferred_name %}
            {{ ads_detail.author.preferred_name }}
            {% endif %}|{{ ads_detail.title }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->
<div class="profile-image">
  <img src="{{ ads_detail.author.profile_pic.url }}" alt="{{ ads_detail.author.user.username }}" class="img-fluid" 
  style="width: 300px; height: 400px; object-fit: cover;">
</div>
<!-- Ads Details Start -->
<div class="section-padding">
  <div class="container">
    <!-- Product Info Start -->
    <div class="product-info row">
      <div class="col-lg-7 col-md-12 col-xs-12 text-center">
        <div class="details-box ads-details-wrapper">
          {% if ads_photos.count > 1 %}
          <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for p in ads_photos %}
              <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
              {% for p in ads_photos %}
              <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                <img class="d-block w-100" src="{{ p.image.url }}" alt="Slide {{ forloop.counter }}">
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          {% else %}
          {% for p in ads_photos %}
          {% if forloop.first %}
          <img class="img-fluid" src="{{ p.image.url }}" alt="Single image">
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="details-box">
          <div class="ads-details-info">
            <h2>{{ ads_detail.title }}</h2>
            <div class="mb-2 ads-description">{{ ads_detail.about_tutor|safe }}</div>
            <div class="mb-2 ads-description">{{ ads_detail.about_lesson|safe }}</div>
            <div class="details-meta">
              <span><i class="lni-alarm-clock"></i> {% trans "Posted"%}: {{ ads_detail.date_created }}</span>
            </div>
          </div>

          <ul class="advertisement mb-4">
            <li>
              <p><strong><i class="lni-book"></i>{% trans "Rate"%}:</strong> ¥{{ ads_detail.rate|floatformat:0 }}/h</p>
            <li>
              <p>
                <strong><i class="lni-user"></i> {% trans "Tutor"%}: </strong> 
                {% if ads_detail.author.preferred_name %}
                  {{ ads_detail.author.preferred_name }}
                {% else %}
                  {{ ads_detail.author.user.username }}
                {% endif %}
                
                <a class="link-small" href="{% url 'author-archive' ads_detail.author.pk %}">({% trans "See other ads by this tutor"%})</a>
              </p>
            </li>
            <li>
              <p>
                <strong><i class="lni-folder"></i> {% trans "Category"%}:</strong> {{ ads_detail.category }}
                <a class="link-small" href="{% url 'category-archive' ads_detail.category.slug %}">({%trans "See other ads in this category"%})</a>
              </p>
            </li>
            <li>
              <p><strong><i class="lni-book"></i> {% trans "Subject"%}:</strong> {{ ads_detail.subject }}</p>
            </li>
            {% if ads_detail.author.linkedin_url %}
              <li>
                <a href="{{ ads_detail.author.linkedin_url }}" class="btn btn-common btn-reply text-white" target="_blank">
                  <i class="lni-linkedin-original"></i> {% trans "Follow My LinkedIn"%}
                </a>
              </li>
            {% endif %}
          </ul>

          <div class="ads-btn mb-4">
            <ul>
              {% if ads_detail.contact_tel %}
                  <li>
                    <a href="tel:{{ ads_detail.tel_number }}" class="btn btn-common"><i class="lni-phone-handset"></i>{{ ads_detail.author.tel_number }} </a>
                  </li>
              {% endif %}
              {% if ads_detail.contact_email %}
                  <li>
                    <a href="mailto:{{ ads_detail.author.user.email }}" class="btn btn-common btn-reply"><i class="lni-envelope"></i> {{ ads_detail.author.user.email }}</a>
                  </li>
              {% endif %}
              {% if ads_detail.contact_wechat %}
                  <li>
                    <div class="d-inline">
                      <a  class="btn btn-common btn-common text-white"><i class="lni-user"></i>{%trans "WeChat"%}: </a>
                      <p>{{ ads_detail.author.wechat }}</p>
                    </div>
                  </li>
              {% endif %}
          </ul>
            
            
          </div>
        </div>
      </div>
    </div>
    {% if request.user == ads_detail.author.user %}
      <a href="{% url 'edit-ad' ads_detail.pk %}" class="btn btn-primary">{% trans "Update Ad Info" %}</a>
    {% endif %}
    <!-- Product Info End -->
  </div>
</div>
<!-- Ads Details End -->
{% endblock content %}